.saving-sec9-p1{
    font-size: 34px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
}

.saving-sec9-p2{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.saving-sec9-p2 h4{
    font-size: 20px;
}

.saving-sec9-p2 > div:nth-child(1), .saving-sec9-p2 > div:nth-child(2), .saving-sec9-p2 > div:nth-child(3) {
    border: 1px solid rgb(134,136,138);
    width: 384px;
    height: 420px;
    text-align: center;
}
.saving-sec9-p2 > div:nth-child(4), .saving-sec9-p2 > div:nth-child(5), .saving-sec9-p2 > div:nth-child(6){
    width: 385px;
    height: 590px;
    text-align: center;
}

.saving-sec9-p2 > div:nth-child(1) > div:first-child, .saving-sec9-p2 > div:nth-child(2) > div:first-child, .saving-sec9-p2 > div:nth-child(3) > div:first-child{
    padding-top: 50px;
}

.saving-sec9-p2 > div:nth-child(1) h4, .saving-sec9-p2 > div:nth-child(2) h4, .saving-sec9-p2 > div:nth-child(3) h4, .saving-sec9-p2 > div:nth-child(4) h4, .saving-sec9-p2 > div:nth-child(5) h4, .saving-sec9-p2 > div:nth-child(6) h4{
    font-size: 20px;
}
.saving-sec9-p2 > div:nth-child(1) p, .saving-sec9-p2 > div:nth-child(2) p, .saving-sec9-p2 > div:nth-child(3) p, .saving-sec9-p2 > div:nth-child(4) p, .saving-sec9-p2 > div:nth-child(5) p, .saving-sec9-p2 > div:nth-child(6) p{
    font-size: 16px;
}
.saving-sec9-p2 > div:nth-child(4) > div:last-child > p:first-child, .saving-sec9-p2 > div:nth-child(5) > div:last-child > p:first-child, .saving-sec9-p2 > div:nth-child(6) > div:last-child > p:first-child{
    color: rgb(117, 117, 122);
}


.saving-sec9-p2 > div:nth-child(4) > div:first-child{
    background-color: #F5E3E8;
}
.saving-sec9-p2 > div:nth-child(4) > div:first-child img, .saving-sec9-p2 > div:nth-child(5) > div:first-child img, .saving-sec9-p2 > div:nth-child(6) > div:first-child img{
    width: 400px;
    height: auto;
}
.saving-sec9-p2 > div:nth-child(6) > div:last-child > p:last-child{
    padding-top: 20px;
}
.saving-sec9-p2 > div:nth-child(4) > div:last-child > p:last-child{
    padding-top: 20px;
}
.saving-sec9-p2 > div:nth-child(5) > div:last-child > p:last-child{
    padding-top: 20px;
}

.saving-sec9-p2 > div:nth-child(5) > div:first-child{
    background-color: #DEE9F7;
}