.saving-sec1-wrapper{
    padding: 0 !important; /* Forces the padding to 0 */
    margin: 0 !important; /* Forces the padding to 0 */
}

.saving-sec1 img{
    max-width: 100vw;
    height: auto;
    display: block;
    margin-top: 190px;
}